<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greet</title>
</head>
<body>
        <% if(nowHour<12) { %>
            <h1>Good Morning</h1>
        <% } elif(nowHour<18) { %>
            <h1>Good Afternoon</h1>
        <% } else { %>
            <h1>Good Evening</h1>
        <% } %>
</body>
</html>